<?xml version="1.0" encoding="utf-8"?>
<GlobalConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Key>98-79-C1-8C-8F-D1-81-DB-FD-7D-16-29-F5-E6-01-DE-44-8A-4C-80-5B-D9-70-7C-DC-1B-2A-C9-11-3B-E2-48-82-AE-59-F2-4B-69-56-7E-56-8A-CF-B0-8F-F1-BE-90-DA-5A-E4-E5-08-11-4E-ED-09-DD-49-AB-22-D2-89-75-4A-AF-05-25-3D-AF-E3-A4-1E-2B-87-81-BC-D2-FF-C5-D4-2B-DC-06-C6-24-43-A1-E8-6D-E5-FD-A4-75-7B-B8-68-38-D1-B8-5A-57-D5-E2-E0-A7-F9-6A-3C-48-27-F2-25-94-10-2C-04-D8-B7-CB-F0-8A-1B-0F-5A-9F-48-65-C7-67-75-DA-FF-29-4C-5B-5E-BF-D1-3F-75-6E-F9-E1-37-C9-5B-FC-8F-D1-90-72-BB-11-7D-86-1D-6A-67-57</Key>
  <Port>2025</Port>
  <Positions>
    <Position>
      <ID>0</ID>
      <Index>0</Index>
    </Position>
  </Positions>
  <Reflection />
  <Close_Prompt>false</Close_Prompt>
  <Always_On_Top_Main>false</Always_On_Top_Main>
  <Always_On_Top_Config>false</Always_On_Top_Config>
  <Always_On_Top_Log>false</Always_On_Top_Log>
  <Always_On_Top_Error>false</Always_On_Top_Error>
  <Always_On_Top_Warning>false</Always_On_Top_Warning>
  <Always_On_Top_Debug>false</Always_On_Top_Debug>
  <Always_On_Reflect_Message>false</Always_On_Reflect_Message>
  <Always_On_Warp_Menu>false</Always_On_Warp_Menu>
  <Block_Warp_Position>false</Block_Warp_Position>
  <Verbose_Logs>false</Verbose_Logs>
  <Fast_Follow_Log>false</Fast_Follow_Log>
  <System_Log>false</System_Log>
  <Single_use>true</Single_use>
  <Allow_Trades>false</Allow_Trades>
  <Allow_Vendors>false</Allow_Vendors>
  <Engage_Delay>3</Engage_Delay>
  <Disengage_Delay>3</Disengage_Delay>
  <Switch_Delay>0.25</Switch_Delay>
  <Message_Delay>10</Message_Delay>
  <Mirror_Delay>500</Mirror_Delay>
  <Protection>
    <Enabled>false</Enabled>
    <Dress_Up>false</Dress_Up>
    <Random>false</Random>
    <Original_Party>
      <Player_1 />
      <Player_2 />
      <Player_3 />
      <Player_4 />
      <Player_5 />
      <Player_6 />
    </Original_Party>
    <Protect_Party>
      <Player_1 />
      <Player_2 />
      <Player_3 />
      <Player_4 />
      <Player_5 />
      <Player_6 />
    </Protect_Party>
    <Original_Linkshell>
      <Linkshell_1 />
      <Linkshell_2 />
    </Original_Linkshell>
    <Protect_Linkshell>
      <Linkshell_1 />
      <Linkshell_2 />
    </Protect_Linkshell>
  </Protection>
  <Page_1>false</Page_1>
  <Page_2>false</Page_2>
  <Page_3>false</Page_3>
  <Page_2_Display>false</Page_2_Display>
  <Page_3_Display>false</Page_3_Display>
  <Blacklists>
    <Mirror_Blacklists>
      <Mirror_Blacklist>
        <Name>Diaphanous Transposer</Name>
        <Zone>267</Zone>
        <Index>0</Index>
        <Comment>Sortie Entry</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Ambuscade Tome</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Ambuscade Entry</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Entry Gate</Name>
        <Zone>78</Zone>
        <Index>0</Index>
        <Comment>Einherjar</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Armory Crate</Name>
        <Zone>78</Zone>
        <Index>0</Index>
        <Comment>Einherjar Reward</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Nareema</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault NPC (Leujaoam Sanctum)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Daswil</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault NPC (Mamool Ja Training Grounds)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Waudeen</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault NPC (Lebros Cavern)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Nahshib</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault NPC (Periqia)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Meyaada</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault NPC (Ilrusi Atoll)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Shahayl</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault NPC (Nyzul Isle)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coelestrox</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>AF3 Upgrade Goblin</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Earthly Concrescence</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Omen Entry</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Ethereal Ingress</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Omen Warps</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Temprix</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Aeonic Goblin</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Runic Seal</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Assault Entry</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Enigmatic Footprints</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Dynamis Divergence Entry</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Sturdy Pyxis</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Abyssea Chests</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Emblazonded Reliquary</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Reisenjima Chests</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Rediroq</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Moblin Maze Mongers</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Nomad Moogle</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Nomad Moogle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Porter Moogle</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Porter Moogle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Aurum Strongbox</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Odyssey Aurum Strongbox</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Door: Chamber of Passage</Name>
        <Zone>50</Zone>
        <Index>0</Index>
        <Comment>Aht Urhgan Whitegate</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Door: Commissions Agency</Name>
        <Zone>50</Zone>
        <Index>0</Index>
        <Comment>Aht Urhgan Whitegate</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Door: Walahra Temple</Name>
        <Zone>50</Zone>
        <Index>0</Index>
        <Comment>Aht Urhgan Whitegate</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>186</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>187</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>188</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>189</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>190</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>191</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>192</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Gilded Doors</Name>
        <Zone>72</Zone>
        <Index>193</Index>
        <Comment>Nyzul Isle</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #A1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #A2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #A3</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #A4</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #A5</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #A1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #A2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #A</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #B1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #B2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #B3</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #B4</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #B5</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #B1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #B2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #B</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #C1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #C2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #C3</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #C4</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #C5</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #C1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #C2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #C</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #D1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #D2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #D3</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #D4</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #D5</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #D1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #D2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #D</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #E</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #E1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #E2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #E</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #F</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #F1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #F2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #F</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #G</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #G1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #G2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #G</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest #H</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #H1</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Casket #H2</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer #H</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Sortie Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Chest</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Odyssey Chest</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Coffer</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Odyssey Coffer</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Aurum Coffer</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Odyssey/Sortie Aurum Coffer</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Runic Lamp</Name>
        <Zone>77</Zone>
        <Index>0</Index>
        <Comment>Nyzle Isle Lamps</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Rune of Transfer</Name>
        <Zone>77</Zone>
        <Index>0</Index>
        <Comment>Nyzle Isle Rune of Transfer</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Armoury Crate</Name>
        <Zone>77</Zone>
        <Index>0</Index>
        <Comment>Nyzle Isle Crates</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Iron Gate</Name>
        <Zone>56</Zone>
        <Index>0</Index>
        <Comment>Periqia Iron Gates</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Saarlan</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Legion NPC</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Mayuyu</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Legion NPC</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Legion Tome</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Legion NPC</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Legion Portal</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Legion NPC</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Peculiar Footprints</Name>
        <Zone>0</Zone>
        <Index>0</Index>
        <Comment>Peculiar Foes</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Veridical Conflux</Name>
        <Zone>298</Zone>
        <Index>100</Index>
        <Comment>Walk of Echos [P1]</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Veridical Conflux</Name>
        <Zone>279</Zone>
        <Index>100</Index>
        <Comment>Walk of Echos [P2]</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Veridical Conflux</Name>
        <Zone>248</Zone>
        <Index>126</Index>
        <Comment>HTB Entry (Selbina)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Veridical Conflux</Name>
        <Zone>247</Zone>
        <Index>148</Index>
        <Comment>HTB Entry (Rabao)</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Darkened Crevice</Name>
        <Zone>273</Zone>
        <Index>477</Index>
        <Comment>Seekers of Adoulin mission</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Hollowed Pathway</Name>
        <Zone>267</Zone>
        <Index>477</Index>
        <Comment>Seekers of Adoulin mission</Comment>
      </Mirror_Blacklist>
      <Mirror_Blacklist>
        <Name>Infernal Transposer</Name>
        <Zone>276</Zone>
        <Index>564</Index>
        <Comment>Sinister Reign</Comment>
      </Mirror_Blacklist>
    </Mirror_Blacklists>
  </Blacklists>
  <Camp_Site_Options>
    <Camp_Script />
  </Camp_Site_Options>
  <Trusts>
    <Enabled>false</Enabled>
    <Pause>false</Pause>
    <Player />
    <Trust_1_Enable>false</Trust_1_Enable>
    <Trust_1 />
    <Trust_1_HP>0</Trust_1_HP>
    <Trust_1_MP>0</Trust_1_MP>
    <Trust_2_Enable>false</Trust_2_Enable>
    <Trust_2 />
    <Trust_2_HP>0</Trust_2_HP>
    <Trust_2_MP>0</Trust_2_MP>
    <Trust_3_Enable>false</Trust_3_Enable>
    <Trust_3 />
    <Trust_3_HP>0</Trust_3_HP>
    <Trust_3_MP>0</Trust_3_MP>
    <Trust_4_Enable>false</Trust_4_Enable>
    <Trust_4 />
    <Trust_4_HP>0</Trust_4_HP>
    <Trust_4_MP>0</Trust_4_MP>
    <Trust_5_Enable>false</Trust_5_Enable>
    <Trust_5 />
    <Trust_5_HP>0</Trust_5_HP>
    <Trust_5_MP>0</Trust_5_MP>
  </Trusts>
  <Silmaril />
  <Sortie />
  <Insight />
  <Augmentation />
</GlobalConfig>